@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

html, body{
    /* --main: #4A90E2; */
    --main: #0074E8;
    /* --main: #466BB0; */
    --second: black;
    --base: #FCFDFF;
    --highlight: #D9E7F8;
    height: 100%;
}

body{
    background: var(--base);
    background-image: url('Background/ks.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    overflow: hidden;
}

.bold{
    font-weight: 400;
}

.thin{
    font-weight: 300;
}

.right{
    float: right;
}

.left{
    float: left;
}

img {
  border-radius: 50%;
}

.pageWraper{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.leftPanel{
    display: none;
    order: 0;
    width: 50%;
}

.rightPanel, .centerPanel{
    order: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Title */

.titleCard{
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

.titleCard h1 {
    color: var(--second);
    display: inline-block;
    font-size: 3.5em;
    line-height: 1em;
    margin: 0;
    padding: 0;
}

.titleCard h2 {
    display:inline-block;
    font-size: .6em;
    color: var(--main);
    padding-bottom: 0.5em;
    margin: 0;
}

/* Social Links */

a {
    color: inherit;
    text-decoration: none;
}

.socialButtonCard{
    text-align: center;
    margin-top: 3em;
    margin-bottom: 1em;
}

.socialButtonCard a {
    color: var(--second);
    margin-left: 10px;
    margin-right: 10px;
    font-size: 30px;
}

.socialButtonCard a:active{
    color: var(--main);
}

/* Project */

.ProjectsCard{
    text-align: center;
}

.ProjectsCard button {
    display:inline-block;
    font-size: 1em;
    border-radius: 5px;
    background-color: var(--base);
    color: black;
    color: var(--main);
    border: 1px solid var(--main);
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin: 0;
    width: 49%;
}

.ProjectsCard button:hover {
    background-color: var(--highlight);
    transition: 0.1s;
}



/* #thing{
    height: auto;
    background: blue;
    border-radius: 50%;
} */


@media only screen and (min-width: 400px) {
  /* For desktop: */


}

@media only screen and (min-width: 767px) {
  /* For desktop: */

  .pageWraper{
      justify-content: flex-start;
  }

  .leftPanel{
      display: block;
  }
  .rightPanel{
      justify-content: space-evenly;
  }

  .titleCard h1 {
      font-size: 4.5em;
  }
  .titleCard h2 {
      font-size: 0.8em;
  }

  .socialButtonCard a {
      font-size: 40px;
  }

  .socialButtonCard {
      margin-top: 4em;
      margin-bottom: 2em;
  }

  .ProjectsCard button {
      background-color: var(--base);
      color: var(--main);
      /* color: #4A90E2; */
      margin: 0;
      width: 45%;
  }

  .socialButtonCard a:hover{
      color: var(--main);
      opacity: 1;
  }

  .socialButtonCard:hover .icon {
      opacity: .25;
      transition: 0.2s;
  }
  .socialButtonCard .icon:hover {
      opacity: 1;
      transition: 0.2s;
  }

}
@media only screen and (min-width: 1110px) {
    body{
        background-size: contain;
    }
}

@media (prefers-color-scheme: dark) {
    html, body{
        /* --main: #466BB0; */
        --second: white;
        --base: #1A1A1B;
        /* --highlight: #F8E6D9; */
    }
}
